<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">
      H2 title
    </h2>
  </div>
  <div class="col-md-12 text-center">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, dignissimos.
  </div>
  <div class="col-md-12">
    <div *ngFor="let product of productList">
      <div class="row">
        <div class="col-md-3">
          <img src="{{product.image}}" alt="{{product.name}}">
        </div>
        <div class="col-md-7">
          <h3>
            {{product.name}}
          </h3>
          <p>
            {{product.description}}
          </p>
        </div>
        <div class="col">
          {{product.price}}
        </div>
      </div>
    </div>
  </div>
</div>
