<div class="row">
  <div class="col-12">
    <h2>
      title in h2
    </h2>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-md-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, provident.
        <hr>
      </div>
      <div class="col-md-4">
        Eos praesentium nesciunt natus cumque quam delectus omnis doloribus illo.
        <hr>
      </div>
      <div class="col-md-4">
        Fuga tempora eveniet fugiat reiciendis, voluptatem odit sint magnam earum.
        <hr>
      </div>
      <div class="col-md-4">
        Quasi, error quo vero voluptas deleniti expedita soluta vitae doloremque?
        <hr>
      </div>
      <div class="col-md-4">
        Laborum, quae ipsum fuga nisi velit voluptate quasi illo error.
        <hr>
      </div>
      <div class="col-md-4">
        Perspiciatis, architecto labore commodi totam repellendus molestiae repudiandae esse voluptate.
        <hr>
      </div>
    </div>
  </div>
</div>