<div class="row">
  <div class="col-md-12">
    <h2>
      h2 Title
    </h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur porro libero aliquid odit, explicabo
      consectetur ea quia quidem incidunt adipisci? Cum consectetur repellendus cumque! Ratione eveniet deleniti aliquam
      soluta adipisci.</p>
  </div>
  <div class="col-md-12">
    <img class="rounded mx-auto d-block"
      src="https://d32ogoqmya1dw8.cloudfront.net/images/curenet/funding/placeholder.jpg" alt="social-feed-image">
  </div>
</div>
